:root.theme-dark {
  --bg-image: var(--bg-image-dark);
  --bg-color: var(--bg-color-dark);
  --title-color: var(--title-color-dark);
  --accent-color: var(--accent-color-dark);
  --text-color: var(--text-color-dark);
  --text-description-color: var(--text-description-color-dark);
  --section-heading-title-color: var(--section-heading-title-color-dark);
  --button-hover-color: var(--button-hover-color-dark);
  --button-active-color: var(--button-active-color-dark);
  --corner-color: var(--corner-color-dark);
}

.theme-dark .rec-marker {
  display: flex;
}